body {
    text-align: center;
    background-color: darkslategrey;
    padding: 2px;
}

img {
    border: 2px solid yellow;
    border-radius: 10px;
    height: 500px;
    width: 800px;
    object-fit: fill;
    margin: 50px;
}

header {
    border: 2px solid red;
    border-radius: 10px;
    height: 600px;
    max-width: 100%;
    background-image: url(Logos/bvgrre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
}

main {
    border: 2px solid red;
    border-radius: 10px;
    height: auto;
    width: auto;
}

footer {
    border: 2px solid red;
    border-radius: 10px;
    height: 600px;
    width: auto;
    background-image: url(Logos/bvgrre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
}

h1,
p,
address {
    color: white;
    font-size: 35px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 768px) {

    h1,
    p,
    address {
        text-align: center;
    }
}

.contact-us {
    text-align: center;
    font-size: 30px;
}

hr {
    border: 2px solid red;
}

.image-container {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.image-text {
    width: 700px;
    font-size: 50px;
    position: absolute;
    bottom: 100px;
    left: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    text-shadow: 2px 2px 4px #000000;
}

.image-container {
    position: relative;
    display: inline-block;
}

img:hover {
    transform: scale(1.1);
}

img {
    transition: transform 0.3s ease;
}
